.Search {
	width: 0;
	border: 0;
	transition: all .5s ease;
	border-bottom: 1px solid #00d474;
	background: transparent;
	outline: none;
	color:white;
}

.Label{
	position: relative;
}

.Search.Open {
	width: 150px;
}

.SearchBtn{
	cursor: pointer;
	font-size: 20px;
	margin-right: 15px;
	color:#00d474;
}